@import "icon";

.signUp {
  display: flex;
  flex-shrink: 1;
  min-width: 70px;
  align-items: center;
  justify-content: center;
  flex-basis: 102px !important;
  height: 40px;
  border: 1px solid rgba(33, 40, 50, 1);
  border-radius: 5px;
}